<div class="container-fluid" id="footerContainer">
    <div class="row justify-content-center" style="text-align: center;padding-top:50px;">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>Atención al cliente</h4>
                    <div style="text-align: left;">
                        <ul>
                            <li><a routerLink="/contact">Contáctenos</a></li>
                            <li><a routerLink="/policy">Políticas de envíos y devoluciones</a></li>
                            <li><a routerLink="/terms">Términos y condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>Sobre nosotros</h4>
                    <div style="text-align: left;">
                        <ul>
                            <li><a routerLink="/about">Quienes somos</a></li>
                            <li><a routerLink="/be-a-distributor">Ser distribuidor</a></li>
                            <li><a routerLink="/privacy-policy">Políticas de privacidad</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>Síguenos</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <p style="font-weight: bold;color:#333;">Bioclean de colombia &copy; 2022</p>
    </div>
</div>
