<div class="container-fluid" id="footerContainer">
    <div class="row" style="text-align: center;padding-top:50px;">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>Atención al cliente</h4>
            <div style="text-align: left;">
                <ul>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Políticas de envíos y devoluciones</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>Sobre nosotros</h4>
            <div style="text-align: left;">
                <ul>
                    <li><a href="#">Quienes somos</a></li>
                    <li><a href="#">Ser distribuidor</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>Síguenos</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <p style="font-weight: bold;">Bioclean de colombia &copy; 2022</p>
    </div>
</div>