h1,h2,h3,h4 {
    color: #9061A4;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #576574;
    font-size: 16pt;
}

ul li a:hover {
    color: #CAD641;
}

#footerContainer {
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
