<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Blanqueador_desinfectante.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BLANQUEADOR DESINFECTANTE</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('BLANQUEADOR DESINFECTANTE', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Blanqueador_oxigeno_activo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BLANQUEADOR OXÍGENO ACTIVO</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('BLANQUEADOR OXÍGENO ACTIVO', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Desengrasante_multiusos.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DESENGRASANTE MULTIUSOS</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('DESENGRASANTE MULTIUSOS', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Detergente_liquido_lavaloza.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DETERGENTE LÍQUIDO LAVALOZA</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('DETERGENTE LÍQUIDO LAVALOZA', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Detergente_liquido_para_ropa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DETERGENTE LÍQUIDO PARA ROPA</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('DETERGENTE LÍQUIDO PARA ROPA', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Jabon_liquido_para_manos.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">JABÓN LÍQUIDO PARA MANOS</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('JABÓN LÍQUIDO PARA MANOS', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Limpiador_de_pisos_aromatizante.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LIMPIADOR DE PISOS AROMATIZANTE</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('LIMPIADOR DE PISOS AROMATIZANTE', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Suavizante_para_ropa.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SUAVIZANTE PARA ROPA</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('SUAVIZANTE PARA ROPA', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 productContainer">
          <div class="card">
            <img src="/assets/img/products/Vinagre_industrial.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">VINAGRE INDUSTRIAL</h5>
              <button class="btn btn-block btn-action" (click)="addToCart('VINAGRE INDUSTRIAL', 1000)">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
