* {
  font-size: 16pt;
}

#menuContainer {
  padding: 20px;
  background-color: #4E73DF;
  color: #FFFFFF;
}

.menuTitle {
  text-align: center;
}

.menuTitle > img {
  width: 100px;
  height: 100px;
}

.menu {
  text-align: left;
}

.submenu {
  float: left;
  width: 100%;
  background-color: #54a0ff;
  padding-left: 15px;
  border-radius: 5px;
}

.menuItem {
  margin-bottom: 5px;
  float: left;
  width: 100%;
}

.menuItem > a {
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menuItem > a:hover {
  background-color: #FFFFFF;
  color: #4E73DF;
}



.closeItem {
  border:1px solid #ee5253;
  color: #FFFFFF;
}

#contentContainer {
  padding: 20px;
  /*background-color: #F7F8FB;*/
  background-color: #c8d6e5;
}

.hideMenu {
  border:1px solid red;
}
