<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" id="menuContainer">
      <div class="menuTitle">
        <label>Bienvenido</label><br>
        <img src="/assets/img/avatar_1.png" alt="avatar_1.png"><br>
        <strong>Miguel Peñuela</strong><br>
        <label>Administrador</label>
      </div>
      <hr>
      <div class="menuItems">
        <ul>
          <li>
            <a routerLink="home"><i class="fa fa-home"></i> | Inicio</a>
          </li>
          <li>
            <a routerLink="configuration"><i class="fa-solid fa-gears"></i> | Configuración</a>
          </li>
          <li>
            <a routerLink="products"><i class="fa-solid fa-wine-bottle"></i> | Productos</a>
          </li>
          <li>
            <a routerLink="orders"><i class="fa-solid fa-file-invoice"></i> | Pedidos</a>
          </li>
          <li>
            <a routerLink="sales"><i class="fa-solid fa-file-invoice"></i> | Ventas</a>
          </li>
          <li>
            <a routerLink="users"><i class="fa-solid fa-users"></i> | Usuarios</a>
          </li>
          <li>
            <a class="closeItem" routerLink="products"><i class="fa-solid fa-power-off"></i> | Salir</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="contentContainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
