<div class="container-fluid">
  <div class="row">
    <div *ngIf="isHidden" class="col-xs-12 col-sm-12 col-md-5 col-lg-4" id="menuContainer">
      <div class="menuButton" style="width: 100%;float: left;">
        <button class="btn btn-primary btn-close-menu" style="float: right;" (click)="hideShowMenu(false)">
          <i class="fa-solid fa-times"></i>
        </button>
      </div>
      <div class="menuTitle">
        <label>Bienvenido</label><br>
        <img src="/assets/img/avatar_1.png" alt="avatar_1.png"><br>
        <strong>{{userData.primer_nombre}}</strong><br>
        <label>{{userData.perfil}}</label>
        <button class="btn btn-primary btn-block" (click)="closeSession()">
          <i class="fa-solid fa-power-off"></i> Salir
        </button>
      </div>
      <hr>
      <div class="menu">
        <div class="menuItem" *ngFor="let item of menu">
          <a routerLink="{{item.link}}"><i class="{{item.icon}}"></i> {{item.label}}</a>
          <div class="submenu" *ngIf="item.type === 'multiple'">
            <div class="menuItem" *ngFor="let sub of item.childs">
              <a routerLink="{{sub.link}}"> {{sub.label}}</a>
            </div>
          </div>
        </div>
        <div class="menuItem">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" id="contentContainer">
      <router-outlet (activate)="hideShowMenu(false)"></router-outlet>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-open-menu" (click)="hideShowMenu(true)">
  <i class="fa-solid fa-bars"></i>
</button>
