<div class="container-fluid">
  <div class="row">
    <div *ngIf="isHidden" class="col-xs-12 col-sm-12 col-md-4 col-lg-3" id="menuContainer">
      <div class="menuButton" style="width: 100%;float: left;">
        <button class="btn btn-primary btn-close-menu" style="float: right;" (click)="hideShowMenu(false)">
          <i class="fa-solid fa-times"></i>
        </button>
      </div>
      <div class="menuTitle">
        <label>Bienvenido</label><br>
        <img src="/assets/img/avatar_1.png" alt="avatar_1.png"><br>
        <strong>Miguel Peñuela</strong><br>
        <label>Administrador</label>
      </div>
      <hr>
      <div class="menu">
        <div class="menuItem">
          <a routerLink="home"><i class="fa fa-home"></i> Inicio</a>
        </div>
        <div class="menuItem">
          <a routerLink="configuration"><i class="fa-solid fa-gears"></i> Configuración</a>
        </div>
        <div class="menuItem">
          <a routerLink="products"><i class="fa-solid fa-wine-bottle"></i> Productos</a>
          <!--<div class="submenu">
            <div class="menuItem">
              <a routerLink="register-product"><i class="fa-solid fa-plus"></i> Registrar</a>
            </div>
          </div>-->
        </div>
        <div class="menuItem">
          <a routerLink="orders"><i class="fa-solid fa-file-invoice"></i> Pedidos</a>
        </div>
        <div class="menuItem">
          <a routerLink="sales"><i class="fa-solid fa-dollar-sign"></i> Ventas</a>
        </div>
        <div class="menuItem">
          <a routerLink="users"><i class="fa-solid fa-users"></i> Usuarios</a>
          <!--<div class="submenu">
            <div class="menuItem">
              <a routerLink="register-user"><i class="fa-solid fa-user-plus"></i> Registrar</a>
            </div>
          </div>-->
        </div>
        <div class="menuItem">
          <a routerLink="products"><i class="fa-solid fa-power-off"></i> Salir</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" id="contentContainer">
      <router-outlet (activate)="hideShowMenu(false)"></router-outlet>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-open-menu" (click)="hideShowMenu(true)">
  <i class="fa-solid fa-bars"></i>
</button>
