<div class="container-fluidº">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10" style="background-color: #FFFFFF;border-radius: 20px;padding: 20px;">
      <div class="section-title">
        <h1>Quienes somos</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <p>
            <strong>Industrias M&S S.A.S.</strong> es una empresa familiar colombiana ubicada en el municipio de Soacha - Cundinamarca, fundada en el año 2013. Bajo la necesidad de una familia soachuna por desarrollar productos de limpieza para su hogar, de alta calidad y conservando el medio ambiente con un precio justo.
          </p>
          <p>
            Debido a las circunstancias que trajo consigo la pandemia en 2019, en su proceso de transformación empresarial, y de expansión, lanza al mercado local, departamental y nacional, su marca comercial denominadad <strong>BioClean Colombia</strong>
          </p>
          <p>
            Somos fabricantes de productos químicos y de aseo de uso industrial, institucional y hogar, contando con una gran variedad de productos como: Detergentes, desengrasantes, desinfectantes, polímeros auto brillantes, jabones de manos, ambientadores, entre otros.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <img src="/assets/img/about-us.jpeg" alt="about-us.jpeg" style="width: 100%;border-radius: 10px;">
        </div>
      </div>
    </div>
  </div>
</div>
