<app-header
  [title]="'Productos'"
  [showButton]="true"
  (showRegisterFormEvent)="showRegisterForm()"
  [showBackButton]="false"
  ></app-header>
<hr>
<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-10">
    <div class="row productInfo" *ngFor="let element of productsList">
      <div class="col-xs-12 col-sm-12 col-md-1">
        <img src="/assets/img/no-image.png" class="card-img-top" alt="no-image.png">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <label>{{element.tipo_producto}} {{element.fragancia}} x {{element.unidad_medida}}</label><br>
        <label>Código: {{element.codigo}}</label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <button *ngIf="element.estado === 'Activo'" class="btn btn-danger" style="float:right" title="Eliminar" (click)="updateStatus(element.id, 'Inactivo')">
          <i class="fa-solid fa-trash"></i>
        </button>

        <button *ngIf="element.estado === 'Inactivo'" class="btn btn-success" style="float:right" title="Activar" (click)="updateStatus(element.id, 'Activo')">
          <i class="fa-solid fa-check"></i>
        </button>

        <button class="btn btn-info" style="float:right" title="Editar" (click)="editProduct(element)">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
    </div>
  </div>
</div>
