<app-header [title]="'Configuración'" [showButton]="false"></app-header>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3" style="padding: 10px;">
    <app-fragances></app-fragances>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3" style="padding: 10px;">
    <app-units></app-units>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3" style="padding: 10px;">
    <app-product-types></app-product-types>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3" style="padding: 10px;">
    <app-categories></app-categories>
  </div>
</div>
