<app-header [title]="'Configuración'" [showButton]="false"></app-header>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
    <div style="padding: 10px;border-radius: 5px;background-color: #fafafa;">
      <app-fragances></app-fragances>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
    <div style="padding: 10px;border-radius: 5px;background-color: #fafafa;">
      <app-product-types></app-product-types>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
    <div style="padding: 10px;border-radius: 5px;background-color: #fafafa;">
      <app-units></app-units>
      <hr>
      <app-categories></app-categories>
      <hr>
      <app-containers></app-containers>
    </div>
  </div>
</div>
