<app-header [title]="'Tipos de producto'" [showButton]="true" [showForm]="showForm" (showRegisterFormEvent)="showRegisterForm()"></app-header>
<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 middleContainer">
    <div class="row">
      <div class="col-12" style="padding: 10px;">
        <div *ngIf="showForm" style="background-color: #FFFFFF;border-radius: 5px;padding: 10px;">
          <form (submit)="submit()" [formGroup]="applicationForm">
            <label>Ingrese el nombre</label>
            <input type="text" class="form-control" formControlName="nombre" (input)="formatText('nombre')">
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!applicationForm.valid">
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Producto</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of productTypesList">
              <td>{{element.nombre}}</td>
              <td>
                <button *ngIf="element.estado == 'Activo'" class="btn btn-danger" style="float:right" title="Eliminar"
                (click)="updateStatus(element, 'Inactivo')">
                  <i class="fa-solid fa-trash"></i>
                </button>

                <button *ngIf="element.estado == 'Inactivo'" class="btn btn-success" style="float:right" title="Activar"
                (click)="updateStatus(element, 'Activo')">
                  <i class="fa-solid fa-check"></i>
                </button>

                <button class="btn btn-info mr-2" style="float:right" title="Editar" (click)="updateProductType(element)">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
