<div class="container-fluidº">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10" style="background-color: #FFFFFF;border-radius: 20px;padding: 20px;">
      <div class="section-title">
        <h1>Ser un distribuidor</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <p>
            <strong>¿Quieres ser un distribuidor de los productos BioClean?</strong>
          </p>
          <p>
            Obtenga ganancias extra con nuestro plan de precios para distribuidores. Dejenos sus datos en el chat de Whatsapp para recibir más información sobre nuestras tarifas y el proceso para ser parte de nuestro programa para distribuidores. Uno de nuestros agentes estará en contacto para brindarle más detalles.
          </p>
          <p>
            <i class="fa fa-phone"></i> 314 435 2585
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <img src="/assets/img/be-distributor.jpg" alt="be-distributor.jpg" style="width: 100%;border-radius: 10px;">
        </div>
      </div>
    </div>
  </div>
</div>
