<app-header
  [title]="'Registrar pedido (Listado de productos)'"
  [showButton]="false"
  [showBackButton]="true"
  [backUrl]="'webapp/register-order-client'"
  ></app-header>
<hr>
<div class="row justify-content-center" style="padding: 10px;">
  <div class="col-xs-12 col-sm-12 col-md-10" style="padding:10px">
    <div class="row orderRegister">
      <div class="col-12" style="text-align: center;">
        Pedido
      </div>
      <div class="col-12">
        <div class="row">
          <button type="button" title="Agregar producto" class="btn btn-info m-2" (click)="showForm('product')">
            <i class="fa fa-plus"></i> Producto
          </button>
        </div>
      </div>
      <div class="col-12">
        <div *ngIf="showProductForm" class="row">
          <div class="col-12">
            <label>Tipo de producto</label>
            <select class="form-control" [(ngModel)]="product_type_id" (change)="filterProductByType()">
              <option value="0">- Seleccione</option>
              <option *ngFor="let item of productTypesList" value="{{item.id}}">{{item.nombre}}</option>
            </select>
          </div>
          <div class="col-12">
            <hr>
          </div>
          <div class="col-12">
            <div class="row mb-2 productItem" *ngFor="let item of filteredProductsList">
              <div class="col-10">
                <label>{{item.tipo_producto}} {{item.envase}} X {{item.valor_unidad}} {{item.unidad_medida}} {{item.fragancia}}</label>
              </div>
              <div class="col-2">
                <button class="btn btn-info btn-block" (click)="addProduct(item.id)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="col-12" (submit)="submit()" [formGroup]="applicationForm">
        <div class="row">
          <div class="col-12">
            <label>Usuario</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Fecha de entrega</label>
            <input type="date" class="form-control" formControlName="fecha_entrega" [min]="today">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
            <label>Listado de productos: </label>
          </div>
        </div>
        <div class="row" *ngFor="let product of productsList; let i = index" formArrayName="productos">
          <div class="col-12 productItem" formGroupName="{{i}}">
            <div class="row">
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    {{product.descripcion}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <select class="form-control" formControlName="tipo" (change)="updateType(product.producto_id, i)">
                      <option value="">- Seleccione tipo de precio</option>
                      <option value="precio_publico">Individual</option>
                      <option value="precio_kit">Kit</option>
                      <option value="precio_distribuidor">Al por mayor</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <label>Precio ($)</label><br>
                    <label>{{product.precio | currency: 'COP'}}</label>
                  </div>
                  <div class="col-4">
                    <label for="cantidad_{{i}}">Unidades</label>
                    <div class="row">
                      <div class="col-4">
                        <button type="button" class="btn btn-danger btn-block" (click)="updateQuantity('down', i)">
                          <i class="fa-solid fa-arrow-down"></i>
                        </button>
                      </div>
                      <div class="col-4" style="text-align: center;">
                        {{product.cantidad}}
                      </div>
                      <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="updateQuantity('up', i)">
                          <i class="fa-solid fa-arrow-up"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <label for="subtotal_{{i}}">Sub total ($)</label><br>
                    <label>{{product.subtotal | currency: 'COP'}}</label>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-danger btn-block" (click)="removeProduct(i)" title="Eliminar">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <hr>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!applicationForm.valid">
              Continuar <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-loader [showLoader]="showLoader"></app-loader>
