<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ALCOHOL DESINFECTANTE AL 70% 750 ML</h5>
              <strong>6.250 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AMBIENTADOR AROMATIZANTE DE ESPACIOS 250 ML FRUTOS ROJOS</h5>
              <strong>6.500 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BIOJAX CON BICARBONATO PET LITRO TORONJA LIMON</h5>
              <strong>3.550 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CERA POLIMERICA AUTOBRILLANTE PET 500 ML</h5>
              <strong>4.500 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DESENGRASANTE ESPESO GALON 4.000 ML</h5>
              <strong>17.000 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="card">
            <img src="/assets/img/no-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DETERGENTE LIQUIDO LAVA LOZA PET LITRO LIMON</h5>
              <strong>5.800 COP</strong>
              <button class="btn btn-block btn-action">
                <i class="fa fa-cart-plus"></i> Agregar al carrito
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
