<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-3 loginContainer">
      <h4>Iniciar sesión</h4>
      <hr>
      <form [formGroup]="loginForm" (submit)="login()" autocomplete="off">
        <label>Correo electrónico</label>
        <input type="text" class="form-control" formControlName="username">
        <label>Contraseña</label>
        <input type="password" class="form-control" formControlName="password">
        <br>
        <button class="btn btn-action btn-block" [disabled]="loginForm.invalid">
          <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
        </button>
        <br>
        <a class="btn btn-outline-info btn-block" href="signup">Registrarse</a>
      </form>
    </div>
  </div>
</div>
