body {
  /*background-color: #dfe6e9;*/
  background-color: #FCF8F6;
}

h1, h2, h3, h4, h5, h6 {
  color: #9061A4;
}

p, label {
  font-size: 14pt;
  text-align: justify;
}

.section {
  margin-top: 100px;
  text-align: center;
}

.section-title {
  margin-bottom: 100px;
}

.btn-action {
  background-color: #CAD641;
  border-color: #CAD641;
  color: #333333;
}
.btn-action:hover{
  background-color: #9061A4;
  border-color: #9061A4;
  color: #FFFFFF;
}

.card {
  border-radius: 20px;
  padding: 10px;
}

.lbl_status {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
